@font-face {
  src: url("../../../public/fonts/Heebo-Regular.ttf") format("woff2");
  font-family: "Heebo";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../../../public/fonts/Heebo-Medium.ttf") format("woff2");
  font-family: "Heebo";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../../../public/fonts/Heebo-Bold.ttf") format("woff2");
  font-family: "Heebo";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../../../public/fonts/Heebo-Black.ttf") format("woff2");
  font-family: "Heebo";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}