@use "../../scss/utils/" as *;

.root {
  padding-top: rem(133);
  padding-bottom: rem(54);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  margin-bottom: rem(22);
  padding: 0;
}

.item {
  &:not(:last-child) {
    margin-right: rem(35);
  }
}

.link {
  transition: fill 0.3s;

  &:hover {
    fill: var(--primary-color)
  }
}

// **
.copy {
  font: var(--small-07-font);
  color: var(--dark-color);
}